<html>
  <head>
    <style>
      body {  
        background: <%= color %>;
      }
    </style>
  </head>
  <body>
    <p>What number am I thinking of?</p>
    <form>
    <% if result == "Correct!" %>
      You guessed it! The secret number is <%= secret_num %>
    <% elsif guesses == 0 %>
      Game over! You are out of guesses.
    <% else %>
      <input type="text" name="guess" />
      <input type="submit" value="Guess!" />
      <p>
        <%= result %>
        You have <%= guesses %> guesses left.
      </p>
    <% end %>
    </form>
    <% if result == "Correct!" || guesses == 0 %>
      <form method="post" action="/domethod" >
        <input type="hidden" name="replay" value=true>
        <input class="btn btn-primary" type="submit" value="Play again!">
      </form>
    <% end %>  
  </body>
</html>